/* ESTILOS GERAIS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2d8cbf;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


/* ESTILOS INICIO */
.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.banner .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    text-transform: uppercase;
    color: #ffff;
}

.banner .content p {
    font-size: 1.5em;
    color: #ffff;
}

.banner .content img {
    width: 40px;
    height: 40px;
}

.intro .who img {
    width: 50%;
    height: max-content;

    /*background-image: url('https://static.significados.com.br/foto/da4f-cor-cinza-significados.jpg');
    background-size: cover;
    text-align: center;
    color: #ffffff;
    padding: 100px 0;*/

}

.btn {
    background-color: #d8ae07;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Estilos para outras seções (about, services, contact, etc.) */

/* ESTILO RODAPÉ */
footer {
    background-color: #2d8cbf;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}