body{
    background-color: rgba(247, 238, 208, 0.795);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.principal{
    display: flex;
    flex-direction: column; 
    width: 500px; 
    height: 500px;
    border: solid 2px black; 
    align-self: center;
    border-radius: 30px;
    align-items: center;
    font-size: 30px;
}

.principal input{
    width: 270px;
    height: 30px;
}